<p style="color: green"><%= notice %></p>

<%= render @trauma %>

<div>
  <%= link_to "Edit this trauma", edit_trauma_path(@trauma) %> |
  <%= link_to "Back to traumas", traumas_path %>

  <%= button_to "Destroy this trauma", @trauma, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
</div>
