<% extra_items ||= [] %>
<% show_divider = local_assigns.fetch(:show_divider, extra_items.any?) %>

<div class="dropdown">
  <button class="btn btn-sm btn-link text-muted p-0 ms-2 action-btn" type="button" data-bs-toggle="dropdown">
    <i class="fa-solid fa-ellipsis"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-end shadow-sm border-0 z-3">
    <% extra_items.each do |menu_item| %>
      <li>
        <%= link_to menu_item[:path],
            class: "dropdown-item small",
            data: menu_item[:turbo_frame] ? { turbo_frame: menu_item[:turbo_frame] } : {} do %>
          <% if menu_item[:icon] %><i class="<%= menu_item[:icon] %> me-2"></i><% end %><%= menu_item[:label] %>
        <% end %>
      </li>
    <% end %>
    <li>
      <%= link_to "Rename", edit_path,
          class: "dropdown-item small",
          data: { turbo_frame: dom_id(item, :title_frame) } %>
    </li>
    <% if show_divider %><li><hr class="dropdown-divider"></li><% end %>
    <li>
      <%= button_to "Delete", delete_path, method: :delete, class: "dropdown-item small text-danger" %>
    </li>
  </ul>
</div>
