<%= render "shared/page_header",
    parent: @index_event.title,
    title: "Impact Statement" %>

<div class="card p-4 shadow-sm">
  <%= simple_form_for [@index_event, @impact_statement], data: { turbo_frame: "_top" } do |f| %>
    <%= f.input :statement, as: :text, label: "How has this event impacted your life?",
        input_html: { rows: 8, class: "form-control" },
        hint: "Describe how this traumatic event has affected your beliefs about yourself, others, and the world." %>
    <div class="d-flex gap-2 mt-3">
      <%= f.submit "Save", class: "btn btn-primary" %>
      <%= link_to "Cancel", index_event_impact_statement_path(@index_event), class: "btn btn-outline-secondary" %>
    </div>
  <% end %>
</div>
