<p style="color: green"><%= notice %></p>

<%= render @impact_statement %>

<div>
  <%= link_to "Edit this impact statement", edit_index_event_impact_statement_path(@impact_statement.index_event) %> |
  <%= link_to "Back to impact statements", index_events_path %>

  <%= button_to "Destroy this impact statement", index_event_path(@impact_statement.index_event), method: :delete %>
</div>
