<div class="accordion-item bg-transparent border-0" id="<%= dom_id(index_event) %>">

  <div class="accordion-header d-flex align-items-center justify-content-between pe-2 sidebar-item-group" id="heading_<%= index_event.id %>">

    <%= turbo_frame_tag dom_id(index_event, :title_frame), class: "flex-grow-1" do %>
      <%= render 'index_events/title_button', index_event: index_event, is_active: is_active %>
    <% end %>

    <%= render 'shared/action_dropdown',
        item: index_event,
        edit_path: edit_index_event_path(index_event),
        delete_path: index_event_path(index_event),
        extra_items: [{
          path: new_index_event_stuck_point_path(index_event),
          label: 'Add Stuck Point',
          icon: 'fa-solid fa-thumbtack',
          turbo_frame: "new_stuck_point_frame_#{index_event.id}"
        }] %>
  </div>

  <div id="collapse_<%= index_event.id %>" class="accordion-collapse collapse" data-bs-parent="#indexEventsAccordion">
    <div class="accordion-body p-0 ms-3 border-start ps-3 py-2">

      <%= turbo_frame_tag "new_stuck_point_frame_#{index_event.id}" %>

      <div id="stuck_points_list_<%= index_event.id %>" class="accordion accordion-flush">
        <% index_event.stuck_points.each do |stuck_point| %>
          <%= render "stuck_points/sidebar_item", stuck_point: stuck_point %>
        <% end %>
      </div>

    </div>
  </div>
</div>
