<div id="<%= dom_id stuck_point %>">
  <p>
    <strong>Title:</strong>
    <%= stuck_point.title %>
  </p>

  <p>
    <strong>Trauma:</strong>
    <%= stuck_point.trauma.try(:name) || stuck_point.trauma_id %>
  </p>

  <p>
    <strong>Belief:</strong>
    <%= stuck_point.belief %>
  </p>

  <p>
    <strong>Belief type:</strong>
    <%= stuck_point.belief_type %>
  </p>

  <p>
    <strong>Resolved:</strong>
    <%= stuck_point.resolved %>
  </p>

</div>
