<p style="color: green"><%= notice %></p>

<%= render @stuck_point %>

<div>
  <%= link_to "Edit this stuck point", edit_stuck_point_path(@stuck_point) %> |
  <%= link_to "Back to stuck points", stuck_points_path %>

  <%= button_to "Destroy this stuck point", @stuck_point, method: :delete %>
</div>
