<div id="<%= dom_id alternative_thought %>">
  <p>
    <strong>Stuck point:</strong>
    <%= alternative_thought.stuck_point_id %>
  </p>

  <p>
    <strong>Evidence for:</strong>
    <%= alternative_thought.evidence_for %>
  </p>

  <p>
    <strong>Evidence against:</strong>
    <%= alternative_thought.evidence_against %>
  </p>

  <p>
    <strong>Alternative thought:</strong>
    <%= alternative_thought.alternative_thought %>
  </p>

  <p>
    <strong>Belief rating:</strong>
    <%= alternative_thought.belief_rating %>
  </p>

</div>
