<p style="color: green"><%= notice %></p>

<%= render @alternative_thought %>

<div>
  <%= link_to "Edit this alternative thought", edit_alternative_thought_path(@alternative_thought) %> |
  <%= link_to "Back to alternative thoughts", alternative_thoughts_path %>

  <%= button_to "Destroy this alternative thought", @alternative_thought, method: :delete %>
</div>
