<div id="<%= dom_id abc_worksheet %>">
  <p>
    <strong>Stuck point:</strong>
    <%= abc_worksheet.stuck_point_id %>
  </p>

  <p>
    <strong>Activating event:</strong>
    <%= abc_worksheet.activating_event %>
  </p>

  <p>
    <strong>Consequence feeling:</strong>
    <%= abc_worksheet.consequence_feeling %>
  </p>

  <p>
    <strong>Feeling intensity:</strong>
    <%= abc_worksheet.feeling_intensity %>
  </p>

  <p>
    <strong>Consequence behaviour:</strong>
    <%= abc_worksheet.consequence_behaviour %>
  </p>

</div>
