
<%= simple_form_for(@abc_worksheet) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :stuck_point %>
    <%= f.input :activating_event %>
    <%= f.input :consequence_feeling %>
    <%= f.input :feeling_intensity %>
    <%= f.input :consequence_behaviour %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
